@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;700;800;900&family=Montserrat:wght@300;500;700;800&family=Nunito:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto:wght@500&family=Rubik:wght@300;400;500;600&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: Poppins;
}

.lineup {
  height: 1px;
  width: 30px;
  border-bottom: 2px solid white;
  margin-top: 12px;
}

.gradient {
  background-image: linear-gradient(rgb(47 173 91), rgb(145 196 57));
}

.card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}