@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;700;800;900&family=Montserrat:wght@300;500;700;800&family=Nunito:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto:wght@500&family=Rubik:wght@300;400;500;600&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: Poppins;
}

.lineup {
  height: 1px;
  width: 30px;
  border-bottom: 2px solid white;
  margin-top: 12px;
}

a {
  color: #333;
}

.gradient {
  background-image: linear-gradient(rgb(47 173 91), rgb(145 196 57));
}

.card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.hero {
  background-image: url('/assets/hero-img.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 99999px;
  border-radius: 25px;

}

.faq-item {
  margin-bottom: 10px;
}

.question {
  background-color: #f0f0f0;
  padding: 10px;
  cursor: pointer;
}

.answer {
  display: none;
  padding: 10px;
}

#copyright {
  border-top: 1px solid white;
}


@media (max-width: 760px) {
  .hero {
    border-radius: 0px;
  }

  .hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
  }

  #menu {
    z-index: 1000;
  }

  .hamburger-top,
  .hamburger-middle,
  .hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: black;
    transform: rotate(0);
    transition: all 0.5s;
  }

  .hamburger-middle {
    transform: translateY(7px);
  }

  .hamburger-bottom {
    transform: translateY(14px);
  }

  .open {
    transform: rotate(90deg);
    transform: translateY(0);
  }

  .open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
  }

  .open .hamburger-middle {
    display: none;
  }

  .open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
  }

}